[Desktop Entry]
Name=Install Sentinel CAC Manager
GenericName=DoW CAC Setup Wizard
Comment=Graphical Setup Wizard for DoW CAC Middleware, Certificates, and Browser Authentication
Exec=bash -c "D=\$(dirname \"%k\"); if [ -f \"\$D/installer.py\" ]; then python3 \"\$D/installer.py\"; elif [ -f \$HOME/.local/share/sentinel_cac_manager/installer.py ]; then python3 \$HOME/.local/share/sentinel_cac_manager/installer.py; else curl -fsSL https://raw.githubusercontent.com/CodeFXR/Sentinel-CAC-Manager/main/setup | bash; fi"
Icon=sentinel_cac_manager
Terminal=false
Type=Application
Categories=Utility;
Keywords=Install;Setup;CAC;DoW;
StartupNotify=true
StartupWMClass=mil.dow.sentinel_cac_manager.installer
